/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
			background-color: #4C566A;
    color: white;
  }
  
  header .logo img {
    width: 100px;
    
  }

  .adjust ul{
    display: flex;
    justify-content: center;
		background-color: #4C566A;
    
  }
  .adjust ul li {
    list-style: none;
    padding: 15px 20px;
  }
  .adjust ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  header .language-currency select {
    margin-left: 20px;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    background-color: #333;
  }
  
 
  #booking {
    padding: 40px;
    background-color: #f4f4f4;
  }
  
  #booking h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form label {
    margin: 10px 0;
  }
  
  form input, form select {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
  }
  
  form button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #218838;
  }
  
  #confirmation {
    text-align: center;
    margin-top: 20px;
  }
  
 
  
  /* Responsive Design */
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  
    #booking form {
      width: 100%;
    }
  
    form input, form select {
      width: 100%;
    }
  }
  
  footer {
    background-color: #434b5d;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
  }